// Default styles

$body-font-family: 'Poppins', sans-serif;
$heading-font-family: 'Poppins', sans-serif;

$main-color: #0095A0;
$body-color: #575757;
$heading-color: #575757;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-ra: all 0.5s;
$border-radius: 4px;
$border: #C3CBDD;

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    font-family: $body-font-family !important;
    color: $body-color;
}

a {
    display: inline-block;
    transition: $transition;
    text-decoration: none;
    color: $body-color;

    &:hover {
        text-decoration: none;
        color: $heading-color;
    }

    &:focus {
        text-decoration: none;
    }
}

button {
    outline: 0 !important;
    box-shadow: none;
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family !important;
    font-weight: 600;
}

h3 {
    font-size: 21px;
    line-height: 1.5;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #74777B;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin line-clip {
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.form-control {
    height: 40px;
    color: $heading-color;
    border: 1px solid #B7B8BC;
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;

    &::placeholder {
        color: #B7B8BC;
        font-size: 13px;
    }

    &:focus {
        color: $black-color;
        background-color: #fff;
        box-shadow: unset;
        outline: 0;
        border: 1px solid $main-color;
    }
}

.form-control:hover,
.form-control {
    &:focus {
        box-shadow: unset;
    }
}

textarea {
    &.form-control {
        height: auto;
        height: 130px;
    }
}


.box-btn {
    padding: 13px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    transition: $transition;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: #EB7F1B;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.6s ease-in-out;
    }

    i {
        font-size: 18px;
        position: relative;
        top: 4px;
        margin-right: 5px;
        line-height: 15px;
        color: $main-color;
        transition: $transition;
    }

    &:hover {
        color: #fff;

        &::before {
            transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
        }

        i {
            color: #fff;
        }

    }
}

// Navnar CSS
.navbar-area {
    position: relative;
    background: $main-color;
    padding: 20px;

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .navbar-light .navbar-toggler {
        border-color: $main-color !important;
    }

    .navbar-brand {
        padding-top: 0 !important;
        padding-bottom: 0 !important;


        h3 {
            margin-bottom: 0;
            font-size: 32px;
            line-height: 45px;
            color: $white-color;
        }
    }

    .header-btn {
        padding: 0px 30px !important;
        color: $main-color !important;
        background: #fff !important;
        border-radius: 0 !important;
        border: none !important;
        height: 45px;
    }

    .search-bar {
        position: relative;
        width: 400px;
        margin-right: 10px;

        .form-control {
            background: $main-color;
            border: 1px solid #fff !important;
            padding: 20px 20px;
            border-radius: 0;
            height: 45px;
            color: #fff;

            &::placeholder {
                color: #fff;
                font-size: 13px;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 3px;
            background: transparent !important;
            color: #fff !important;
            border: none !important;
            border-radius: 0 !important;

            i {
                color: #fff !important;
                font-size: 22px;
            }
        }
    }

    .navbar-toggler {
        position: relative !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .navbar-toggler span {
        display: block !important;
        background-color: #fff !important;
        height: 2px !important;
        width: 30px !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        transform: rotate(0deg) !important;
        left: 0 !important;
        opacity: 1 !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0 !important;
    }

    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
        transition: transform 0.35s ease-in-out !important;
        transition: transform 0.35s ease-in-out !important;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute !important;
        left: 12px !important;
        top: 10px !important;
        transform: rotate(135deg) !important;
        opacity: 0.9 !important;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px !important;
        visibility: hidden !important;
        background-color: transparent !important;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute !important;
        left: 12px !important;
        top: 10px !important;
        transform: rotate(-135deg) !important;
        opacity: 0.9 !important;
    }
}

.sticky {
    background: $main-color;
    box-shadow: $box-shadow;
    z-index: 999;
    position: fixed;
    width: 100%;
    animation: fadeInDown 200ms ease-in-out;
    transition: 0.3s;
}


// Main chart area
.main-chart-area {
    position: relative;
    padding-top: 70px;

    .title {
        margin-bottom: 30px;
    }
}

// Product area
.product-area {
    position: relative;
    padding: 130px 0;

    .select-btn {
        width: 100%;
        justify-content: end;

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #74777B;
        }
    }

    .tag-list {
        display: flex;

        .tag {
            background: rgba(221, 158, 16, 0.1);
            border: 0.5px solid #DD9E10;
            border-radius: 2px;
            padding: 4px 15px;
            margin: 0 !important;
            margin-right: 10px !important;
        }
    }

    .model {
        align-items: center;

        a {
            cursor: pointer;
            width: 99px !important;
            height: 75px !important;

            .img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .content {
            margin-left: 20px;

            h2 {
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 0px;
            }

            h3 {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #74777B;
                margin-bottom: 0;
            }
        }


    }

    .ram {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .price {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    h3 {
        font-size: 24px;
        line-height: 36px;
    }

    .table>:not(caption)>*>* {
        border-bottom: none !important;
        padding-bottom: 25px !important;
    }

    tr {
        vertical-align: middle;
        margin-bottom: 25px;
    }

    th {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #74777B;
        margin-bottom: 45px;
    }




}

.modal-dialog {
    max-width: 900px !important;

    .modal-content {
        border-radius: 4px !important;
        border: none !important;

        .popup-imgs {
            height: 250px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.btn-close:focus {
    box-shadow: none !important;
}

.modal-content {
    border-radius: 4px !important;
    border: none !important;
}

.modal-header {
    background: $main-color;
    color: #fff;
    border-radius: 0 !important;
    padding: 25px;

    .modal-title.h4 {
        color: #fff !important;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
    }
}

.add-modal {

    .modal-footer {
        margin-top: 60px;
    }

    button.btn.btn-secondary {
        background: #B7B8BC !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
        border-radius: 5px !important;
        padding: 8px 25px;
        border: none !important;

        i {
            position: relative;
            top: 2px;
            left: -3px;
            font-size: 15px;
        }
    }

    button.btn.btn-primary {
        background: $main-color !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
        border-radius: 5px !important;
        padding: 8px 25px;
        border: none !important;

        i {
            position: relative;
            top: 2px;
            left: -3px;
            font-size: 15px;
        }

    }


}



.css-13cymwt-control {
    height: 45px !important;
    margin-bottom: 15px;

    .css-1fdsijx-ValueContainer {
        padding: 4px 20px;
    }


}

.css-t3ipsp-control {
    min-height: 45px !important;
    box-shadow: none !important;
    ;

    &:hover {
        border-color: #B7B8BC !important;
    }
}

.modal-body {
    padding: 30px;

    .form-control {
        height: 45px;
        margin-bottom: 15px;
    }

    .form-label {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
        color: #74777B;
    }

}


.btn-close {
    background: none !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E") !important;
}

.recharts-responsive-container {
    position: relative;

    .recharts-legend-wrapper {
        right: 45px !important;
    }

    li.recharts-legend-item {
        margin-bottom: 10px !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.loader {
    text-align: center;

    .spinner-border.text-primary {
        color: $main-color !important;
    }

    .spinner-border {
        width: 3.2rem !important;
        height: 3.2rem !important;
    }
}

// Ant design
.ant-select-selector {
    height: 45px !important;
    border-radius: 0 !important;
    padding: 8px 20px !important;

}

span.ant-select-selection-item {
    color: #74777B !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px !important;
}

.form-control-custome:hover {

    span.ant-select-selection-item,
    span.ant-select-arrow {
        color: #fff !important;
    }
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border: 1px solid $main-color !important;
    background: $main-color !important;
    color: $white-color !important;
}

.ant-select-item-option-content {
    color: #74777B !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px !important;
}


.ant-select-dropdown {
    padding: 0 !important;
    border-radius: 0px !important;
}

.rc-virtual-list {
    padding: 20px !important;
}


// Mobile responsive

/* Max width 767px */
@media (max-width: 767px) {

    .product-area {
        padding-top: 50px;

        .top-content.mb-4 {
            text-align: center;
            margin-bottom: 40px !important;

            h3 {
                margin-bottom: 15px;
            }
        }

        .select-btn {
            justify-content: center;
        }

        .tag-list {
            display: block;

            .tag {
                margin-right: 0 !important;
                display: block !important;
                padding: 4px 10px;
                font-size: 13px;
                width: 140px;
                text-align: center;
                margin-bottom: 5px !important;

            }
        }

        .model .content {
            width: 140px;
        }
    }

    .product-area .tag-list .tag:last-child {
        margin-bottom: 0;
    }

    .table-responsive-sm {
        border: 1px solid #d9d9d9 !important;
        padding: 10px;
    }

    .recharts-responsive-container .recharts-legend-wrapper {
        top: -10px !important;
        right: 30% !important;
    }

    .ant-select-selector {
        height: 45px !important;
    }

    .title h3 {
        text-align: center;
    }

    .main-chart-area {
        padding-top: 50px;
    }

    .recharts-wrapper .recharts-pie {
        transform: translateX(12%) translateY(5%);
    }

    .search-bar {
        width: auto !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .navbar-brand h3 {
        font-size: 25px;
        line-height: 40px;
    }

    p.price.text-end {
        width: 100px;
    }
}

// Tab responsive
@media (min-width: 768px) and (max-width: 991px) {
    .search-bar {
        width: auto !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .recharts-wrapper .recharts-pie {
        transform: translateX(3%) translateY(-15%);
    }

    .recharts-responsive-container .recharts-legend-wrapper {
        right: 31% !important;
        top: 72% !important;
    }
}