body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif !important;
  color: #575757;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #575757;
}

a:hover {
  text-decoration: none;
  color: #575757;
}

a:focus {
  text-decoration: none;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #575757;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

h3 {
  font-size: 21px;
  line-height: 1.5;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  font-size: 15px;
  margin-bottom: 15px;
  color: #74777B;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-control {
  height: 40px;
  color: #575757;
  border: 1px solid #B7B8BC;
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
}

.form-control::-webkit-input-placeholder {
  color: #B7B8BC;
  font-size: 13px;
}

.form-control:-ms-input-placeholder {
  color: #B7B8BC;
  font-size: 13px;
}

.form-control::-ms-input-placeholder {
  color: #B7B8BC;
  font-size: 13px;
}

.form-control::placeholder {
  color: #B7B8BC;
  font-size: 13px;
}

.form-control:focus {
  color: #000000;
  background-color: #fff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0;
  border: 1px solid #0095A0;
}

.form-control:hover:focus,
.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

textarea.form-control {
  height: auto;
  height: 130px;
}

.box-btn {
  padding: 13px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #EB7F1B;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.box-btn i {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  line-height: 15px;
  color: #0095A0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-btn:hover {
  color: #fff;
}

.box-btn:hover::before {
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.box-btn:hover i {
  color: #fff;
}

.navbar-area {
  position: relative;
  background: #0095A0;
  padding: 20px;
}

.navbar-area .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-area .navbar-light .navbar-toggler {
  border-color: #0095A0 !important;
}

.navbar-area .navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-area .navbar-brand h3 {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
}

.navbar-area .header-btn {
  padding: 0px 30px !important;
  color: #0095A0 !important;
  background: #fff !important;
  border-radius: 0 !important;
  border: none !important;
  height: 45px;
}

.navbar-area .search-bar {
  position: relative;
  width: 400px;
  margin-right: 10px;
}

.navbar-area .search-bar .form-control {
  background: #0095A0;
  border: 1px solid #fff !important;
  padding: 20px 20px;
  border-radius: 0;
  height: 45px;
  color: #fff;
}

.navbar-area .search-bar .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 13px;
}

.navbar-area .search-bar .form-control:-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
}

.navbar-area .search-bar .form-control::-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
}

.navbar-area .search-bar .form-control::placeholder {
  color: #fff;
  font-size: 13px;
}

.navbar-area .search-bar button {
  position: absolute;
  top: 0;
  right: 3px;
  background: transparent !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
}

.navbar-area .search-bar button i {
  color: #fff !important;
  font-size: 22px;
}

.navbar-area .navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-area .navbar-toggler span {
  display: block !important;
  background-color: #fff !important;
  height: 2px !important;
  width: 30px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-area .navbar-toggler:focus,
.navbar-area .navbar-toggler:active {
  outline: 0 !important;
}

.navbar-area .navbar-toggler span:nth-child(1),
.navbar-area .navbar-toggler span:nth-child(3) {
  -webkit-transition: -webkit-transform 0.35s ease-in-out !important;
  transition: -webkit-transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-area .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  -webkit-transform: rotate(135deg) !important;
          transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-area .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-area .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  -webkit-transform: rotate(-135deg) !important;
          transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.sticky {
  background: #0095A0;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  z-index: 999;
  position: fixed;
  width: 100%;
  -webkit-animation: fadeInDown 200ms ease-in-out;
          animation: fadeInDown 200ms ease-in-out;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-chart-area {
  position: relative;
  padding-top: 70px;
}

.main-chart-area .title {
  margin-bottom: 30px;
}

.product-area {
  position: relative;
  padding: 130px 0;
}

.product-area .select-btn {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.product-area .select-btn label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #74777B;
}

.product-area .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-area .tag-list .tag {
  background: rgba(221, 158, 16, 0.1);
  border: 0.5px solid #DD9E10;
  border-radius: 2px;
  padding: 4px 15px;
  margin: 0 !important;
  margin-right: 10px !important;
}

.product-area .model {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-area .model a {
  cursor: pointer;
  width: 99px !important;
  height: 75px !important;
}

.product-area .model a .img {
  width: 100%;
  height: 100%;
}

.product-area .model a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-area .model .content {
  margin-left: 20px;
}

.product-area .model .content h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0px;
}

.product-area .model .content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #74777B;
  margin-bottom: 0;
}

.product-area .ram {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.product-area .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.product-area h3 {
  font-size: 24px;
  line-height: 36px;
}

.product-area .table > :not(caption) > * > * {
  border-bottom: none !important;
  padding-bottom: 25px !important;
}

.product-area tr {
  vertical-align: middle;
  margin-bottom: 25px;
}

.product-area th {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #74777B;
  margin-bottom: 45px;
}

.modal-dialog {
  max-width: 900px !important;
}

.modal-dialog .modal-content {
  border-radius: 4px !important;
  border: none !important;
}

.modal-dialog .modal-content .popup-imgs {
  height: 250px;
  width: 100%;
}

.modal-dialog .modal-content .popup-imgs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-close:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal-content {
  border-radius: 4px !important;
  border: none !important;
}

.modal-header {
  background: #0095A0;
  color: #fff;
  border-radius: 0 !important;
  padding: 25px;
}

.modal-header .modal-title.h4 {
  color: #fff !important;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.add-modal .modal-footer {
  margin-top: 60px;
}

.add-modal button.btn.btn-secondary {
  background: #B7B8BC !important;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px !important;
  padding: 8px 25px;
  border: none !important;
}

.add-modal button.btn.btn-secondary i {
  position: relative;
  top: 2px;
  left: -3px;
  font-size: 15px;
}

.add-modal button.btn.btn-primary {
  background: #0095A0 !important;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px !important;
  padding: 8px 25px;
  border: none !important;
}

.add-modal button.btn.btn-primary i {
  position: relative;
  top: 2px;
  left: -3px;
  font-size: 15px;
}

.css-13cymwt-control {
  height: 45px !important;
  margin-bottom: 15px;
}

.css-13cymwt-control .css-1fdsijx-ValueContainer {
  padding: 4px 20px;
}

.css-t3ipsp-control {
  min-height: 45px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.css-t3ipsp-control:hover {
  border-color: #B7B8BC !important;
}

.modal-body {
  padding: 30px;
}

.modal-body .form-control {
  height: 45px;
  margin-bottom: 15px;
}

.modal-body .form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #74777B;
}

.btn-close {
  background: none !important;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E") !important;
}

.recharts-responsive-container {
  position: relative;
}

.recharts-responsive-container .recharts-legend-wrapper {
  right: 45px !important;
}

.recharts-responsive-container li.recharts-legend-item {
  margin-bottom: 10px !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.loader {
  text-align: center;
}

.loader .spinner-border.text-primary {
  color: #0095A0 !important;
}

.loader .spinner-border {
  width: 3.2rem !important;
  height: 3.2rem !important;
}

.ant-select-selector {
  height: 45px !important;
  border-radius: 0 !important;
  padding: 8px 20px !important;
}

span.ant-select-selection-item {
  color: #74777B !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
}

.form-control-custome:hover span.ant-select-selection-item,
.form-control-custome:hover span.ant-select-arrow {
  color: #fff !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border: 1px solid #0095A0 !important;
  background: #0095A0 !important;
  color: #ffffff !important;
}

.ant-select-item-option-content {
  color: #74777B !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px !important;
}

.ant-select-dropdown {
  padding: 0 !important;
  border-radius: 0px !important;
}

.rc-virtual-list {
  padding: 20px !important;
}

/* Max width 767px */
@media (max-width: 767px) {
  .product-area {
    padding-top: 50px;
  }
  .product-area .top-content.mb-4 {
    text-align: center;
    margin-bottom: 40px !important;
  }
  .product-area .top-content.mb-4 h3 {
    margin-bottom: 15px;
  }
  .product-area .select-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-area .tag-list {
    display: block;
  }
  .product-area .tag-list .tag {
    margin-right: 0 !important;
    display: block !important;
    padding: 4px 10px;
    font-size: 13px;
    width: 140px;
    text-align: center;
    margin-bottom: 5px !important;
  }
  .product-area .model .content {
    width: 140px;
  }
  .product-area .tag-list .tag:last-child {
    margin-bottom: 0;
  }
  .table-responsive-sm {
    border: 1px solid #d9d9d9 !important;
    padding: 10px;
  }
  .recharts-responsive-container .recharts-legend-wrapper {
    top: -10px !important;
    right: 30% !important;
  }
  .ant-select-selector {
    height: 45px !important;
  }
  .title h3 {
    text-align: center;
  }
  .main-chart-area {
    padding-top: 50px;
  }
  .recharts-wrapper .recharts-pie {
    -webkit-transform: translateX(12%) translateY(5%);
            transform: translateX(12%) translateY(5%);
  }
  .search-bar {
    width: auto !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .navbar-brand h3 {
    font-size: 25px;
    line-height: 40px;
  }
  p.price.text-end {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-bar {
    width: auto !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .recharts-wrapper .recharts-pie {
    -webkit-transform: translateX(3%) translateY(-15%);
            transform: translateX(3%) translateY(-15%);
  }
  .recharts-responsive-container .recharts-legend-wrapper {
    right: 31% !important;
    top: 72% !important;
  }
}
/*# sourceMappingURL=style.css.map */